.bem-pageContainer {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header" 
        "content" 
        "footer";
    min-height: 100vh;
    padding: 30px 20px;
    background-color: #1f1f1f;
    box-sizing: border-box;

    &_1000px {
        width: 1000px;
        margin: 0 auto;
        
    }

    &__header{
        grid-area: header;
    }

    &__content {
        grid-area: content;
    }
    
    &__footer {
        grid-area: footer;
    }
}




