.bem-article {
    display: grid;
    grid-template-areas: "icon" "head" "text";
    justify-items: center;
    grid-row-gap: 20px;

    &__icon {
        grid-area: icon;
        width: 64px;
        height: 64px;
        object-fit: contain;
    }

    &__head {
        grid-area: head;
        margin: 0;
        color: #81b300;
        font-size: 18px;
        font-weight: 400;
    }

    &__text {
        grid-area: text;
        text-align: center;
        color: #888888;
        font-size: 13px;
        margin: 0;
    }
}