.bem-projectArticle {
    display: grid;
    grid-template-areas: "image" "head" "text";
 
    &__image {
        display: block;
        width: 200px;
        height: 130px;
    }
    
    &__imageBorder {
        grid-area: image;
        border: 1px solid #e2e2e2;
        background: #fff;
        padding: 4px;
    }

    &__head {
        grid-area: head;
        margin: 20px 0 0;
        color: #444;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
    }

    &__text {
        grid-area: text;
        margin: 14px 0;
        color: #878787;
        font-size: 13px;
        letter-spacing: 0.9px;
    }

    &__details {
        text-align: right;
        color: #81b300;
        font-size: 13px;
        text-decoration: none;
    }
}