.bem-pageHeader {
    border-top: 5px solid #81b300;
    box-sizing: border-box;

    &__titleBar {
        @include clearfix;
        background-color: #ffffff;
        height: 135px;
        padding: 0 30px;
    }

    &__navBar {
        @include clearfix;
        background-color: #81b300;
        padding: 20px 30px;
    }

    &__logo {
        float: left;
        margin-top: 28px;
    }

    &__socialIcons {
        float: right;
    }

    &__linkList {
        text-align: right;
        padding-top: 85px;
    }

    &__navMenu {
        float: left;
    }
    &__searchForm {
        float: right;
    }
}