.bem-inlineLinksList {
    font-size:12px;
    
    &__item {
        color: #81b300;
    
        &::after {
            content: '|';
        }
    
        &:last-of-type::after {
            content: '';
        }
    }
    
    &__link {
        color: #81b300;
        text-decoration: none;
    }

}

