html {
  height: 100vh;
  font-family: Georgia, serif;
}

body {
  margin: 0;
  min-height: 100vh;
}

.bem-pageContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
      grid-template-areas: "header"  "content"  "footer";
  min-height: 100vh;
  padding: 30px 20px;
  background-color: #1f1f1f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bem-pageContainer_1000px {
  width: 1000px;
  margin: 0 auto;
}

.bem-pageContainer__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.bem-pageContainer__content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
}

.bem-pageContainer__footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.bem-pageHeader {
  border-top: 5px solid #81b300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bem-pageHeader__titleBar {
  background-color: #ffffff;
  height: 135px;
  padding: 0 30px;
}

.bem-pageHeader__titleBar::after {
  content: '';
  display: block;
  clear: both;
}

.bem-pageHeader__navBar {
  background-color: #81b300;
  padding: 20px 30px;
}

.bem-pageHeader__navBar::after {
  content: '';
  display: block;
  clear: both;
}

.bem-pageHeader__logo {
  float: left;
  margin-top: 28px;
}

.bem-pageHeader__socialIcons {
  float: right;
}

.bem-pageHeader__linkList {
  text-align: right;
  padding-top: 85px;
}

.bem-pageHeader__navMenu {
  float: left;
}

.bem-pageHeader__searchForm {
  float: right;
}

.bem-pageContent__slider {
  background-color: #f2f2f2;
  padding: 30px;
}

.bem-pageContent__hr {
  height: 1px;
  margin: 0;
  border: none;
  background-color: #e2e2e2;
}

.bem-pageContent__articles {
  background-color: #fff;
  padding: 0 30px;
}

.bem-pageContent__partitions {
  padding: 50px 0;
}

@font-face {
  font-family: 'entypo';
  src: url("../fonts/entypo/entypo.eot");
  src: url("../fonts/entypo/entypo.eot") format("embedded-opentype"), url("../fonts/entypo/entypo.woff") format("woff"), url("../fonts/entypo/entypo.ttf") format("truetype"), url("../fonts/entypo/entypo.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.bem-socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #81B300;
  width: 252px;
  padding: 8px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0 0 7px 7px;
}

.bem-socialIcons__item {
  text-decoration: none;
}

.bem-socialIcons__item::before {
  display: inline-block;
  font-family: Entypo, sans-serif;
  font-style: normal;
  color: black;
  font-size: 33px;
  line-height: 33px;
}

.bem-socialIcons__item:hover::before {
  color: #00ACEE;
}

.bem-socialIcons__item_linkedin::before {
  content: '\f319';
}

.bem-socialIcons__item_twitter::before {
  content: '\f30a';
}

.bem-socialIcons__item_pinterest::before {
  content: '\f313';
}

.bem-socialIcons__item_googlePlus::before {
  content: '\f310';
}

.bem-socialIcons__item_rss::before {
  content: '\e73a';
}

.bem-inlineLinksList {
  font-size: 12px;
}

.bem-inlineLinksList__item {
  color: #81b300;
}

.bem-inlineLinksList__item::after {
  content: '|';
}

.bem-inlineLinksList__item:last-of-type::after {
  content: '';
}

.bem-inlineLinksList__link {
  color: #81b300;
  text-decoration: none;
}

.bem-mainMenu {
  font-family: Georgia, serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  padding: 7px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #81b300;
}

.bem-mainMenu__listItems {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bem-mainMenu__listItems::after {
  content: '';
  display: block;
  clear: both;
}

.bem-mainMenu__item {
  float: left;
  margin-right: 10px;
}

.bem-mainMenu__item:last-of-type {
  margin-right: 0;
}

.bem-mainMenu__link {
  text-decoration: none;
  color: inherit;
}

.bem-mainMenu__link:hover {
  color: #000;
}

.bem-mainMenu__link_active {
  color: #000;
}

.bem-siteLogo__header {
  color: #333333;
  font-family: Georgia, serif;
  font-size: 36px;
  line-height: 46px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.bem-siteLogo__header::first-letter {
  font-size: 46px;
  line-height: 46px;
}

.bem-siteLogo__subtext {
  color: #999;
  font-size: 12px;
  margin-top: 2px;
}

.bem-searchForm {
  overflow: auto;
}

.bem-searchForm__input {
  float: left;
  width: 282px;
  border: 0;
  border-right: 1px solid #ddd;
  padding: 8px 9px;
  font-size: 12px;
  color: #000;
}

.bem-searchForm__input:focus {
  outline: none;
}

.bem-searchForm__input::-webkit-input-placeholder {
  color: #7f7f7f;
}

.bem-searchForm__input:-ms-input-placeholder {
  color: #7f7f7f;
}

.bem-searchForm__input::-ms-input-placeholder {
  color: #7f7f7f;
}

.bem-searchForm__input::placeholder {
  color: #7f7f7f;
}

.bem-searchForm__button {
  float: left;
  border: none;
  font-size: 12px;
  width: 66px;
  text-transform: uppercase;
  background: #fff;
  color: #81b300;
  font-weight: bold;
  padding: 8px 6px;
  letter-spacing: 0.6px;
}

.bem-pageHeader {
  border-top: 5px solid #81b300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bem-pageHeader__titleBar {
  background-color: #ffffff;
  height: 135px;
  padding: 0 30px;
}

.bem-pageHeader__titleBar::after {
  content: '';
  display: block;
  clear: both;
}

.bem-pageHeader__navBar {
  background-color: #81b300;
  padding: 20px 30px;
}

.bem-pageHeader__navBar::after {
  content: '';
  display: block;
  clear: both;
}

.bem-pageHeader__logo {
  float: left;
  margin-top: 28px;
}

.bem-pageHeader__socialIcons {
  float: right;
}

.bem-pageHeader__linkList {
  text-align: right;
  padding-top: 85px;
}

.bem-pageHeader__navMenu {
  float: left;
}

.bem-pageHeader__searchForm {
  float: right;
}

.bem-slider__slidesList {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  height: 380px;
  width: 900px;
  border: 1px solid #e6e6e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bem-slider__item {
  position: absolute;
  border: 9px solid #fff;
  width: 880px;
  height: 360px;
}

.bem-slider__image {
  -o-object-fit: cover;
     object-fit: cover;
}

.bem-slider__indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 156px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 21px auto 0;
  padding: 0;
  list-style: none;
}

.bem-slider__indicator {
  width: 12px;
  height: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #333;
  background: #333;
  margin: 4px 0;
}

.bem-slider__indicator_active {
  background: transparent;
}

.bem-slider__leftArrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../images/Left_arrow.png) no-repeat center center, #333;
  border-radius: 50%;
}

.bem-slider__rightArrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../images/Right_arrow.png) no-repeat center center, #333;
  border-radius: 50%;
}

.bem-partitions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 27px;
}

.bem-partitions_gap20px {
  grid-column-gap: 20px;
}

.bem-article {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "icon" "head" "text";
  justify-items: center;
  grid-row-gap: 20px;
}

.bem-article__icon {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: icon;
  width: 64px;
  height: 64px;
  -o-object-fit: contain;
     object-fit: contain;
}

.bem-article__head {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: head;
  margin: 0;
  color: #81b300;
  font-size: 18px;
  font-weight: 400;
}

.bem-article__text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: text;
  text-align: center;
  color: #888888;
  font-size: 13px;
  margin: 0;
}

.bem-projectArticle {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "image" "head" "text";
}

.bem-projectArticle__image {
  display: block;
  width: 200px;
  height: 130px;
}

.bem-projectArticle__imageBorder {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image;
  border: 1px solid #e2e2e2;
  background: #fff;
  padding: 4px;
}

.bem-projectArticle__head {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: head;
  margin: 20px 0 0;
  color: #444;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

.bem-projectArticle__text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: text;
  margin: 14px 0;
  color: #878787;
  font-size: 13px;
  letter-spacing: 0.9px;
}

.bem-projectArticle__details {
  text-align: right;
  color: #81b300;
  font-size: 13px;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */